body {
    padding: 0;
    margin: 0;
    color: var(--text-color);
    background-color: var(--dark);
    user-select: none;
    font-family: 'Lato', sans-serif;
}

.img-vertical-responsive {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.img-horizontal-responsive {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.svg-horizontal-responsive {
    height: 50%;
    filter: invert(91%) sepia(1%) saturate(0%) hue-rotate(37deg) brightness(93%) contrast(88%);
    aspect-ratio: 1 / 1;
}

input[type = "text"] {
    border: none;
    background-color: var(--surface);
    outline: none;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    box-sizing: border-box;
    transition: background-color 0.3s;
    font-size: 1.3vw;
}

input[type = "text"]:focus {
    background-color: var(--background);
}

#image {
    cursor: pointer;
}

:root {
    --border-thickness: .5vw;
    --text-color: #CDCDCD;
    --light-blue: #5178DB;
    --medium-blue: #264F78;
    --dark-blue: #182033;
    --dark: #1A1A1A;
    --grey: #242424;

}

#card-parent {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

#modal-parent {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#modal {
    position: relative;
    width: 70%;
    aspect-ratio: 18 / 9;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 1%;
}

#close-modal {
    position: absolute;
    left: calc(100% - 1.5%);
    top: -1.5%;
    width: 3%;
    aspect-ratio: 1 / 1;
    z-index: 3;
    border-radius: 50%;
    filter: invert(91%) sepia(1%) saturate(0%) hue-rotate(37deg) brightness(93%) contrast(88%);
    border: var(--border-thickness) solid var(--black);
    transition: background-color 0.3s, border .3s;
}

.node-selected {
    background-color: var(--dark-blue)!important;
}

#close-modal:hover {
    background-color: var(--black);
    border: var(--border-thickness) solid var(--black);
    cursor: pointer;
}

#interavtion-parent {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.play-button {
    position: absolute;
    width: 10%;
    aspect-ratio: 2 / 1;
    background-color: var(--grey);
    transition: border 0.3s, border .3s;
}

.play-button:hover {
    border: 1px solid var(--black);
    cursor: pointer;
}

.modal-left-side {
    width: 60%;
    height: 100%;
    gap: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter-input {
    width: 30%;
    font-size: 1w;
}

.image-card-preview {
    width: 80%;
    aspect-ratio: 1 / 1;
}

.modal-list-filter {
    width: 100%;
    height: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#modal-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0)!important;
}

#modal-description {
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1%;
    box-sizing: border-box;
    background-color: var(--grey);
}

.modal-list-node {
    position: relative;
    width: 100%;
    height: calc(100% / 6);
    flex-shrink: 0;
    display: flex;
    gap: 8%;
    padding: 1%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color .3s;
}

.node-stats {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.node-text {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2vw;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

.modal-list-node:hover {
    filter: brightness(96%);
}

.card {
    position: relative;
    width: calc(100% / 5 - 2%);
    max-height: 200%;
    background-color: var(--grey);
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    cursor: pointer;
    padding-bottom: 10px;
    transition: transform .3s;
}

.card:hover {
    transform: scale(1.01);
}

.card-title {
    font-size: 2vw;
}

.button {
    width: calc(44% - var(--border-thickness) * 2.5);
    height: calc(44% - var(--border-thickness) * 2.5);
    cursor: pointer;
    color: var(--medium-blue);
    background-color: var(--dark-blue);
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    transition: border 0.2s, color 0.2s;
}

.button:hover {
    color: var(--light-blue);
}

.button-container {
    aspect-ratio: 3 / 2;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bar {
    position: absolute;
    background-color: var(--light-blue);
    height: 100%;
    width: 75%;
    border-radius: 15px;
}

.bar-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    aspect-ratio: 20 / 1;
    width: 70%;
    border-radius: 15px;
    background-color: var(--dark-blue);
}

.horizontal-wrapper {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
}

.node-name {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: var(--light-blue);
}

#modal-info-1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--dark);
    gap: 1%;
}

#modal-info-2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--dark);
    gap: 1%;
}

.info {
    display: none; /* TODO WHAT TO DO WITH INFO */
    position: absolute;
    aspect-ratio: 1 / 1;
    width: 10%;
    top: 5%;
    left: 85%;
    border-radius: 50%;
    cursor: pointer;
    background: var(--light-blue);
    border: .2vw solid var(--light-blue);
    z-index: 1;
    transition: border 0.2s, background-color 0.2s; 
}

.info:hover + .info-bubble {
    display: block;
    opacity: 1;
}

.info-bubble {
    display: block;
    pointer-events: none;
    position: absolute;
    top: 5%;
    left: 25%;
    text-align: left;
    padding: 3%;
    width: 50%;
    font-size: 1vw;
    background-color: var(--grey);
    border: 2px solid var(--dark);
    opacity: 0;
    transition: opacity 0.2s; 
    z-index: 1;
}

.info-bubble-text {
    margin-left: 2%;
}
