body {
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: black;
    user-select: none;
}

img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.card-parent {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card {
    position: relative;
    width: calc(100% / 5 - 2%);
    max-height: 200%;
    background-color: black;
    gap: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid #d3b501;
}

.card-title {
    font-size: 2vw;
}

.button {
    width: calc(44% - 4px);
    height: calc(44% - 4px);
    border: 2px solid #d3b501;
    border-radius: 10%;
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
}

.button-container {
    aspect-ratio: 3 / 2;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.health-bar {
    position: absolute;
    border-radius: 5px;
    background-color: aquamarine;
    width: 75%;
}

.health-bar-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    aspect-ratio: 20 / 1;
    width: 70%;
    border-radius: 5px;
    background-color: blueviolet;
}

.info {
    position: absolute;
    aspect-ratio: 1 / 1;
    width: 10%;
    top: 5%;
    left: 85%;
    border-radius: 50%;
    background-color: aquamarine;
}