battles/running/
battles/cache/
doserve/battles/
bin/
.DS_Store
.idea/
__pycache__/
TroopNFTs/
*.sqlite
LeaderNFTs/
WeaponNFTs/
Puzzles/
*.db

layers/
#images/
#opensea/
metadata/
accounts/
contracts/output/