/Services/doserve/battles/
bin/
.DS_Store
.idea/
__pycache__/
TroopNFTs/
*.sqlite
LeaderNFTs/
WeaponNFTs/
Puzzles/
*.db

MintingBackend/hashlips_art_engine/build/images/
layers/
#images/
#opensea/
#metadata/
accounts/
contracts/output/

/Services/token_data/images/

/Services/token_data/metadata/

/Services/token_data/opensea/

/Services/token_data/thumbs/
